version: "3.9"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: studytrack_server
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"
    volumes:
      # чтобы база сохранялась между перезапусками
      - ./server/data.sqlite:/app/data.sqlite
    restart: unless-stopped

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: studytrack_web
    depends_on:
      - server
    ports:
      - "5173:80"
    restart: unless-stopped
